@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap');


html {
  font-size: 63%;
  scroll-behavior: smooth;
}

body {
  /*background-image: url("images/gotes.jpg");*/
  background-color: #fbfbfb;/*#09172a;*//*#fdfdfd;*/ /*orig ffffff*/
  color: #404040; /*orig #000000*/
  font-family: 'Atkinson Hyperlegible Next', sans-serif;
  font-size: 2rem;
  line-height: 3rem;
  margin: 0;
  padding: 0;
  padding-bottom: 75rem;
  text-align: justify;
	font-weight: 270;
	letter-spacing: 0.04rem;
}

.label {
  color: white;
  padding: 0.8rem;
  background-color: #193D71;
  display:inline-block; 
  position:relative;
  margin-top: 1rem;
  font-size: 80%;
  border-radius: 0%;
}

a > img {
  border: none;
}

#wrapper {
  margin: 0 auto 4rem;
  max-width: 750px;
}

entry-meta p {
  text-transform: uppercase;
}

other {
  
}

other a {
  color: /*#ff8c00; #cc0000*/#b00000;
  padding-bottom: 0.1rem;
  text-decoration: none;
	font-weight: 600;
	letter-spacing: 0.07rem;
}

other a:hover {
  /*border-bottom: 0.2rem solid #cc0000;*/
  text-decoration: underline;
	text-underline-offset: 0.5rem;
	text-decoration-thickness: 0.25rem;

}

#montserrat {
  display: block;
  float: left;
}

ul {
  /* display: flex; */
  /* margin: 0;
  padding: 0; */
  line-height: 3.4rem;
}

.special-link {
  /* font-size: 15rem; */
  font-weight: bold;
  /* font-family: 'Courier Prime'; */
  /* font-family: 'Manrope'; */
}

nav {
  /* text-transform: uppercase; */
  margin: 4rem 2rem;
  overflow: hidden;
}

nav ul {
  /* font-size:0.8em!important; */
  float: right;
  font-size: 1.6rem;
  list-style: none;
  margin: .8rem 0 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 0 0 2rem;
}

nav ul li a {
  border-bottom: 0.4rem solid #b00000;
  color: #b00000;
  font-weight: bold;
  padding-bottom: 0.15rem;
  text-decoration: none;
}

nav ul li a:hover {
  border-bottom: 0.4rem solid #000000;
  color: #000000;
}

social {
  overflow: hidden;
  position: relative;
}

social ul {
  float: right;
  font-size: 3rem;
  list-style: none;
  margin: 0 0 0;
  padding: 0;
  display: block;
  margin-right: 0;
}

social ul li {
  display: inline;
  margin: 0 0 0 1.5rem;
}

social ul li a {
  border-bottom: none;
  color: #46637b;
  -webkit-transition: color 0.1s;
  font-weight: bold;
  padding-bottom: 0.1rem;
  text-decoration: none;
}

social ul li a:hover {
  border-bottom: none;
  color: #000000;
}

.youtube-color :hover{
  color: #ff0000;
  -webkit-transition: color 0.1s;
}

.x-color :hover{
  color: #000000;
  -webkit-transition: color 0.1s;
}

.linkedin-color :hover{
  color: #0e76a8;
  -webkit-transition: color 0.1s;
}

.stackoverflow-color :hover{
  color: #f48024;
  -webkit-transition: color 0.1s;
}

.github-color :hover{
  color: #24292e;
  -webkit-transition: color 0.1s;
}

.telegram-color :hover{
  color: #0088cc;
  -webkit-transition: color 0.1s;
}

.spotify-color :hover{
  color: #1db954;
  -webkit-transition: color 0.1s;
}

footer {
  /* text-transform: uppercase; */
  font-weight: normal;
  line-height: 153%;
  text-align: center;
  font-weight: 200;
}

h1 {
  /* font-size: 3.2rem; */
  /* line-height: 2em; */
  /* margin-top: -6rem; */
	font-weight: 550;
  padding-top: 5rem;
}

.h1-first {
  /* font-size: 25rem; */
  /* line-height: 2em; */
  /* margin-top: -6rem; */
  padding-top: 0rem;
}

h2 {
  /* font-size: 3.2rem; */
  /* line-height: 2em; */
  /* margin-top: 5.2rem; */
  /* padding-top: 50px; */
  padding-top: 3rem;
}

main {
  margin: 0 2rem;
}

article {
  margin: 2rem 0 4rem;
}

article header {
  margin: 0 0 0.5rem 0;
}

article header h2 {
  font-weight: normal;
  font-size: 3.4rem;
  line-height: 3.8rem;
  margin-bottom: 0;
}

article header h2 a {
  color: #000000;
  text-decoration: none;
}

article header h2 a:hover {
  text-decoration: underline;
}

article header p {
  color: #777777;
  font-size: 1.6rem;
  margin: 0.5rem 0;
}

article header p a {
  color: #b00000;
  text-decoration: none;
}

article header p a:hover {
  text-decoration: underline;
}

article section {
  font-size: 2rem;
  margin: 1rem 0;
}

article section h2 {
  font-size: 2.4rem;
  margin: 2rem 0 1rem;
}

article section h3 {
  font-size: 2rem;
  font-weight: normal;
  margin: 1rem 0 0.5rem 0;
}

article section p {
  font-size: 2rem;
  margin: 0 0 1.5rem 0;
}

article section ul, article section ol {
  margin: 0.5em 0 1.5rem 0;
  padding: 0 0 0 2.5rem;
}

article section li {
  font-size: 2rem;
  margin: 0 0 0.5rem 0;
}

article section a {
  color: #b00000;
  text-decoration: none;
}

article section a:hover {
  text-decoration: underline;
}

article section img {
  max-width: 100%;
}

article section pre {
  background-color: #EFF4F8; /* Code block background color */
  font-size: 1.5rem;
  line-height: 2.4rem;
  margin: 2rem 0;
  overflow: auto;
  padding: 1.5rem 2rem !important;
}

article section code, article section tt {
  font-family: Courier New, Courier, mono;
}

article section p code, article section p tt {
  color: #404040;
  overflow: auto;
  white-space: nowrap;
}

article section pre code {
  color: #404040;
  font-size: 1.5rem;
}

article section blockquote {
  margin: 1rem 2rem;
}

@media only screen and (max-width: 800px) {
  nav {
    margin: 2rem 1.5rem 1rem;
  }

  #montserrat {
    float: none;
  }

  nav ul {
    float: none;
    margin: 0.85rem 0 0.5rem;
	  font-size: 1.4rem;
  }

  nav ul li {
    margin: 0 2rem 0 0;
  }
  
  social {
    margin: 0 0;
  }
  
  social ul {
    font-size: 2.8rem;
  }
  
  /*social ul li {
	  margin: 0 0 0 1.25rem;
  }*/
  
  footer {
    /* text-transform: uppercase; */
    font-weight: normal;
    line-height: 153%;
    text-align: center;
  }

  other {
    font-size: 85%;
    line-height: 2.4rem;
  }
  
  h1 {
	  font-size: 3.2rem;
    line-height: 1em;
    padding-top: 2.2rem;
  }

  h2 {
    line-height: .8em;
    padding-top: 1.8rem;
  }

  main {
    margin: 0 1.5rem;
  }

  article {
    margin: 1.5rem 0 3rem;
  }

  article header h2 {
    font-size: 2.2rem;
    line-height: 2.6rem;
  }

  article section {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

  article section h2 {
    font-size: 1.9rem;
    line-height: 2.3rem;
  }

  article section h3 {
    font-size: 1.6rem;
    line-height: 2.1rem;
  }

  article header p {
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin: 0.25rem 0;
  }

  article section p {
    font-size: 1.6rem;
    line-height: 2.1rem;
    margin: 0 0 1.5rem 0;
  }

  article section ul, article section ol {
    margin: 0.5em 0 1.5rem 0;
    padding: 0 0 0 2.1rem;
  }

  article section li {
    font-size: 1.6rem;
    line-height: 2.1rem;
  }

  article section blockquote {
    margin: 0.5rem 1.5rem;
  }

  article section pre {
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin: 1rem 0;
    overflow: auto;
    padding: 0.7rem 1rem !important;
  }

  article section pre code {
    font-size: 1rem;
    line-height: 1.2rem;
  }
}
