  <nav>
	{% if site.logo %}
	  <a id="montserrat" href="/"><img src="/images/montserrat.svg" width="304" height="76" alt="Marcel Cases" /></a>
	{% else %}
	  {{ site.title }}
	{% endif %}
	
	{% include social.html %}
	
	{% if site.tags != "" %}
		{% include collecttags.html %}
	{% endif %}
	
    <ul>
      <li><a href="/">Projects</a></li>
      <!--<li><a href="/projects/">Projects</a></li>-->
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
