  <nav>
	{% if site.logo %}
	  <a id="montserrat" href="/"><img src="/images/montserrat.svg" width="350" alt="Marcel Cases Freixenet" /></a>
	{% else %}
	  {{ site.title }}
	{% endif %}
	
	{% include social.html %}
	
	{% if site.tags != "" %}
		{% include collecttags.html %}
	{% endif %}
	
    <ul style="font-size: 1.85rem" >
      <li><a href="/#about">About</a></li>
	  <li><a href="/#projects">Projects</a></li>
      <li><a href="/#contact">Contact</a></li>
    </ul>
  </nav>
