<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Browser nav bar tinting -->
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#fbfbfb">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#fbfbfb">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#fbfbfb">
    {% include head.html %}
    {% seo %}
  </head>
  <body>
    <div id="wrapper">
      {% include navigation.html %}

      <main>
        <!-- Begin Content -->
        <other>
        {{ content }}
        <!-- End Content -->
	      </other>
      </main>
    </div>
    {% include footer.html %}
  </body>
</html>
